Repository codestates-beb/BEB-06-SECOND-02, pull requests merged in 2022-11, with the labels that each got.

#50 [server][client] refactor: writepage & token implementation
  client/src/Pages/WritePage.js
  client/src/components/WriteForm.js
  server/app.js
  server/controller/articles.js
  server/controller/users.js
  server/model/article.js
Labels: 기능 추가(New Feature), 개선 사안(Improvement), Client, Server

#52 [client] / #6 / mainpage리팩토링, sol 파일 추가, Env파일 변경
  client/src/App.js
  client/src/Pages/AccountPage.js
  client/src/Pages/MainPage.css
  client/src/Pages/MainPage.js
  client/src/Pages/WritePage.js
  client/src/abi.json
  client/src/components/AccountComponents/AccountContents.js
  client/src/components/Header.js
  client/src/components/LoginModal.js
  client/src/components/Review.js
  client/src/components/SignupModal.js
  client/src/components/Usercontents.js
  client/src/index.css
  client/src/utils/AccountPage.css
  client/src/utils/MainPage.css
  client/src/utils/modal.css
  server/ERC-20.sol
  server/controller/abi.json
  server/controller/users.js
  server/controller/web3.js
  server/model/article.js
  server/model/user.js
Labels: 기능 추가(New Feature), 개선 사안(Improvement)

#58 [server] / #6 / Article 및 User API 개선
  server/app.js
  server/controller/articles.js
  server/controller/users.js
  server/model/comment.js
  server/model/user.js
  server/router/articles.js
  server/utility/reward.js
Labels: 기능 추가(New Feature), 개선 사안(Improvement), Server

#69 [client] / #10 / mainpage refactor
  client/src/App.js
  client/src/Pages/AccountPage.js
  client/src/Pages/MainPage.js
  client/src/components/Comments.js
  client/src/components/ListContainer.js
  client/src/components/LoginModal.js
  client/src/utils/Comments.css
Labels: 개선 사안(Improvement)

#71 [server] / #7 / Authorization 수정 & 글쓰기 페이지 수정
  client/src/App.js
  client/src/Pages/DetailPage.js
  client/src/Pages/MainPage.js
  client/src/Pages/WritePage.js
  client/src/components/Articles.js
  client/src/components/Footer.js
  client/src/components/Header.js
  client/src/components/LoginModal.js
  client/src/components/Review.js
  client/src/components/SignupModal.js
  client/src/components/WriteForm.js
  server/app.js
  server/controller/articles.js
  server/controller/users.js
  server/model/article.js
  server/model/comment.js
  server/model/user.js
  server/node_modules/.package-lock.json
  server/package-lock.json
  server/package.json
  server/utility/createaccount.js
  server/utility/web3provider.js
Labels: 버그픽스(Bug Fix), 개선 사안(Improvement), Client, Server

#73 [client]/ #13 / Article API 메인 페이지에 적용
  client/src/Pages/MainPage.js
  client/src/Pages/WritePage.js
  client/src/components/AccountComponents/AccountContents.js
  client/src/components/Article.js
  client/src/components/Articles.js
  client/src/components/Like.js
  client/src/components/ListContainer.js
  client/src/components/Review.js
  client/src/utils/Article.css
  server/model/region.js
Labels: 기능 추가(New Feature), Client, Database

#74 [client] / #13 / mainpage styling, login modal warning
  client/src/App.js
  client/src/Pages/MainPage.js
  client/src/components/Articles.js
  client/src/components/Comments.js
  client/src/components/Like.js
  client/src/components/ListContainer.js
  client/src/components/LoginModal.js
  client/src/index.css
  client/src/utils/Article.css
  client/src/utils/MainPage.css
  client/src/utils/modal.css
  server/router/users.js
Labels: 기능 추가(New Feature), Client

#75 [Server]/ #8 / Region Model 및 API
  client/src/Pages/AccountPage.js
  server/controller/articles.js
  server/controller/regions.js
  server/controller/users.js
  server/controller/web3.js
  server/model/article.js
  server/model/region.js
  server/router/regions.js
  server/router/users.js
Labels: 기능 추가(New Feature), Server, Database

#87 [client] / #15 / createpage, mainpage 최신화
  client/public/index.html
  client/public/style.css
  client/src/App.js
  client/src/Pages/MainPage.js
  client/src/Pages/WritePage.js
  client/src/components/Header.js
  client/src/components/ListContainer.js
  client/src/components/ListContainerByRegion.js
  client/src/components/Review.js
  client/src/components/SignupModal.js
  client/src/components/WriteForm.js
  client/src/index.js
  client/src/utils/Header.css
  client/src/utils/WritePage.css
  client/src/utils/modal.css
  server/router/articles.js
Labels: 일일 예정(Daily), Client, Database

#88 [Server]/ Delete API 추가 & write article 버그 fix
  server/controller/articles.js
  server/router/articles.js
Labels: 버그픽스(Bug Fix), 기능 추가(New Feature), 개선 사안(Improvement), Server

#89 [Server] quick fix: writePage error handling
  client/src/Pages/WritePage.js
  server/controller/articles.js
  server/model/article.js
Labels: 버그픽스(Bug Fix), Server

#98 [Server] 지역 데이터 연동되는 부분 추가
  client/src/Pages/MainPage.js
  client/src/Pages/WritePage.js
  client/src/components/ListContainer.js
  client/src/components/WriteForm.js
Labels: 개선 사안(Improvement), Client, Database

#101 [server] 단일 글 불러오는 API
  client/src/components/ListContainer.js
  server/controller/articles.js
  server/controller/regions.js
  server/router/articles.js
Labels: 기능 추가(New Feature), Server

#110 [Server][Client] NFT Storage 코드 수정 외 기타 등등
  .gitignore
  client/package.json
  client/src/App.js
  client/src/Pages/AccountPage.js
  client/src/Pages/MainPage.js
  client/src/Pages/MintPage.js
  client/src/components/ListContainer.js
  client/src/components/WriteForm.js
  server/controller/articles.js
  server/controller/regions.js
  server/controller/users.js
  server/controller/web3.js
  server/utility/reward.js
  server/utility/sendtoken.js
Labels: 버그픽스(Bug Fix), 기능 추가(New Feature), 개선 사안(Improvement), 문의(Inquiry), Client, Server

#112 [web3] / 스마트 컨트렉트, 민팅, 스타일링.
  .gitignore
  client/src/Pages/DetailPage.js
  client/src/Pages/MainPage.js
  client/src/Pages/MintPage.js
  client/src/components/AccountComponents/AccountContents.js
  client/src/components/AccountComponents/AccountInfo.js
  client/src/components/AccountComponents/AccountNft.js
  client/src/components/AccountComponents/AccountNftsCard.js
  client/src/components/Comments.js
  client/src/components/Like.js
  client/src/components/SignupModal.js
  server/ERC-721.sol
  server/controller/web3.js
  server/utility/mintAbi.json
  server/utility/mintNft.js
Labels: 기능 추가(New Feature), Client

#116 [Client] cityList 오류 수정
  client/src/Pages/DetailPage.js
  client/src/Pages/MintPage.js
  client/src/Pages/WritePage.js
  client/src/components/AccountComponents/AccountContents.js
  client/src/components/AccountComponents/AccountInfo.js
  client/src/components/AccountComponents/AccountNft.js
  client/src/components/AccountComponents/AccountNftsCard.js
  client/src/components/AccountComponents/AccountSend.js
  client/src/components/Article.js
  client/src/components/Comments.js
  client/src/components/Footer.js
  client/src/components/Header.js
  client/src/components/HeaderButton.js
  client/src/components/Like.js
  client/src/components/ListContainer.js
  client/src/components/ListContainerByRegion.js
  client/src/components/LoginModal.js
  client/src/components/Review.js
  client/src/components/SignupModal.js
  client/src/components/Skeleton.js
  client/src/components/WriteForm.js
  server/controller/web3.js
Labels: 버그픽스(Bug Fix), 개선 사안(Improvement), Client

#120 [Client] Account Page를 Responsive하게 개선
  client/package-lock.json
  client/package.json
  client/src/Pages/AccountPage.js
  client/src/Pages/DetailPage.js
  client/src/Pages/MintPage.js
  client/src/Pages/WritePage.js
  client/src/components/AccountComponents/AccountContents.js
  client/src/components/AccountComponents/AccountInfo.js
  client/src/components/AccountComponents/AccountNft.js
  client/src/components/AccountComponents/AccountSend.js
  client/src/components/Footer.js
  client/src/components/SignupModal.js
  client/src/components/WriteForm.js
  server/router/users.js
  server/router/web3.js
Labels: 개선 사안(Improvement), Client

#121 [client] / #20 / Refactoring : 코드 리팩토링.
  client/src/App.js
  client/src/Dummy.js
  client/src/Pages/AccountPage.js
  client/src/Pages/MainPage.js
  client/src/Pages/WritePage.js
  client/src/StyledSx.js
  client/src/components/AccountComponents/AccountContents.js
  client/src/components/AccountComponents/AccountInfo.js
  client/src/components/AccountComponents/AccountNft.js
  client/src/components/AccountComponents/AccountNftsCard.js
  client/src/components/AccountComponents/AccountSend.js
  client/src/components/Article.js
  client/src/components/ListContainer.js
  client/src/components/ListContainerByRegion.js
  client/src/components/LoginModal.js
  client/src/components/Review.js
  client/src/components/SignupModal.js
  client/src/components/WriteForm.js
Labels: 개선 사안(Improvement)
