Repository codestates-beb/BEB-06-SECOND-02, pull requests merged in 2022-10, with the labels that each got.

#24 [client] / #3 / edit: context API 정리랑, Account Page
  client/package-lock.json
  client/package.json
  client/src/App.js
  client/src/AppContext.js
  client/src/Dummy.js
  client/src/Pages/AccountPage.js
  client/src/component/Footer.js
  client/src/component/Header.js
  client/src/component/SignupModal.js
  client/src/components/AccountComponents/AccountContents.js
  client/src/components/AccountComponents/AccountInfo.js
  client/src/components/AccountComponents/AccountNft.js
  client/src/components/Footer.js
  client/src/components/Header.js
  client/src/components/LoginModal.js
  client/src/components/SignupModal.js
  client/src/utils/AccountPage.css
Labels: 기능 추가(New Feature), 개선 사안(Improvement), Client

#25 [Client] PW 유효성 검사
  client/src/components/SignupModal.js
Labels: 일일 예정(Daily), Client

#28 [server] / # 1 / mongoose-mongoDB 연결
  .gitignore
  db/.env.example
  db/.gitignore
  db/app.js
  db/bin/www
  db/package-lock.json
  db/package.json
  db/readme.md
  db/routes/index.js
  server/.env.example
  server/README.md
  server/app.js
  server/controller/articles.js
  server/controller/test.js
  server/controller/users.js
  server/model/article.js
  server/model/user.js
  server/package-lock.json
  server/package.json
  server/router/articles.js
  server/router/testRouter.js
  server/router/users.js
Labels: 기능 추가(New Feature), 개선 사안(Improvement), Server

#33 [client] / #4 / edit : login 해서 account 정보 Get 구현, modal textcolor 변경
  client/package-lock.json
  client/package.json
  client/src/App.js
  client/src/Pages/AccountPage.js
  client/src/components/AccountComponents/AccountContents.js
  client/src/components/AccountComponents/AccountInfo.js
  client/src/components/Header.js
  client/src/components/HeaderButton.js
  client/src/components/LoginModal.js
  client/src/utils/modal.css
  server/.env.example
  server/node_modules/.package-lock.json
  server/node_modules/http-errors/HISTORY.md
  server/node_modules/http-errors/README.md
  server/node_modules/http-errors/index.js
  server/node_modules/http-errors/package.json
Labels: 기능 추가(New Feature), 일일 예정(Daily), Client

#44 [server]/ #3 /feat : JWT Authentication 로그인 API
  .gitignore
  server/controller/articles.js
  server/controller/users.js
  server/model/article.js
  server/model/user.js
  server/node_modules/.package-lock.json
  server/package-lock.json
  server/package.json
Labels: 기능 추가(New Feature), 개선 사안(Improvement), Server
